@font-face {
    font-family: 'KakaoBigRegular';
    src: url('../fonts/KakaoRegular.ttf'),
}

@font-face {
    font-family: 'KakaoBigBold';
    src: url('../fonts/KakaoBold.ttf');
}

body, button, input, select, textarea {
    font-size: 14px;
    line-height: 1.5;
    font-family: 'KakaoBigRegular';
    color: #444;
    -webkit-text-size-adjust: none;
}

button {
    border: 0;
    border-radius: 0;
    background-color: initial;
    cursor: pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;

@if $enable-button-pointers {
&:not(:disabled) {
    cursor: pointer;
}
}
}

div {
    margin: 0;
    padding: 0;
    display: block;
}

/* header */
.header_container {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

#akHead {
    left: 0;
    right: 0;
    z-index: 99999;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    background-color: #fff;
}

.logo_head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1120px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.link_head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1 0 auto;
    position: relative;
    height: 100%;
    padding-left: 224px;
    text-align: center;
    font-weight: bold;
}

.link_head .link_heads {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
    border-bottom: 2px solid #0000;
    margin: 0 11px;
    padding: 22px 14px;
    font-size: 16px;
    font-family: 'KakaoBigBold';
    color: #444;
    text-decoration: none;
}

.link_head .link_heads .txt_heads {
    position: relative;
}

.logo_head .util_head, .fund_readmore {
    position: relative;
    display: flex;
    align-items: center;
}

.util_head .util_heads, .fund_readmore_icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 17px;
    margin: 0 10px;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.3px;
    color: #202020;
    background-color: #fff;
    text-decoration: none;
}

.util_head .login_heads {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 17px;
    margin: 0 10px;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.3px;
    color: #202020;
    background-color: #fff;
    text-decoration: none;
}

.util_head .btn_search {
    height: auto;
    margin-left: 5px;
    padding: 6px;
}

/* header */

/* content */
#akContent {
    position: relative;
    margin: 0 0 -212px;
    flex-grow: 1;
    min-height: calc(100vh - (70px + 250px));
}

#akContent .con_home {
    background-color: #fff;
}

.con_home #mainContent {
    padding: 0 0 95px;
}

.topslide_container {
    padding-top: 60px;
    bottom: 0;
}

.inner_slide {
    overflow: hidden;
    position: relative;
    width: 1000px;
    height: 303px;
    margin: 0 auto;

}

.list_slide {
    display: flex;
    transform: translate(0, 0);
    overflow: hidden;
    position: relative;
    width: 1040px;
    height: 100%;
    margin: 0 -20px;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul, li {
    list-style: none;
}

button {
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
}

.slide_pannel {
    left: 0;
    top: 0;
    padding: 0 20px;
    background-color: #fff;
    box-sizing: border-box;
    flex: 0 0 100%;
    list-style: none;
}

.img_slide {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;

}

.topslide_container .link_slide .area_cont {
    width: 500px;
}

.tag_slide {
    display: block;
    padding-left: 2px;
    font-family: 'KakaoBigBold';
    line-height: 20px;
    text-decoration: none;
}

.tit_slide {
    max-height: 64px;
    padding-top: 6px;
    font-size: 32px;
    line-height: 44px;
    font-family: 'KakaoBigBold';
    text-decoration: none;
}

.ellipsis_type1 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.area_thumb {
    display: block;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 5px;
    width: 492px;
    height: 280px;
    border-radius: 15px;
}

.img_thumb {
    display: block;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.topslide_container .slide_pannel .link_slide {
    display: block;
    position: relative;
    height: 303px;
    text-decoration: none;
}

a:active,
a:hover {
    text-decoration: none;
}

span {
    color: rgb(0, 0, 0);
}

a {
    color: rgb(0, 0, 0);
    cursor: pointer;
    overflow: hidden;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}

.paginations {
    padding-top: 1rem;
    text-align: center;
}

.pagination {
    width: 12px;
    height: 12px;
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.pagination:not(:last-child) {
    margin-right: 0.3rem;
}

.pagination.on {
    background: #333;
}

.act_banner {
    display: flex;
    position: relative;
    width: 100%;
    height: 350px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 55px 0;
    background: #f6f1ff;
}

.act_container {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.left_banner_container {
    flex-shrink: 0;
    width: 300px;
}

.tit_banner {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    width: 378px;
    height: 180px;
    background: url(//t1.kakaocdn.net/together_image/common/ico_actions.png) no-repeat 0 -22px/180px 170px;
}

.detail_banner {
    display: inline-block;
    height: 50px;
    width: 150px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #9282ae;
    border-radius: 40px;
    text-align: center;
    font-family: 'KakaoBigBold';
    cursor: pointer;
}


.right_banner {
    display: relative;
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #fff;
}

.right_banner_top {
    display: block;
    width: 100%;
    border-radius: 15px 15px 0 0;
    padding: 10px;
    background-color: #a95ff3;
    color: #fff;
    text-align: center;
}

.right_banner_bottom {
    display: flex;
    padding: 30px;
}

.img_area {
    display: flex;
    overflow: hidden;
    position: relative;
    left: 0px;
    width: 220px;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
}

.text_area {
    padding: 20px 20px 20px 30px;

}

.tag_banner {
    display: block;
    padding-left: 25px;
    font-family: 'KakaoBigBold';
    font-size: 13px;
    line-height: 20px;
    color: #a95ff3;;
    background: url(//t1.kakaocdn.net/together_image/svg/ico_checks.svg) no-repeat 0 3px/14px;
}

.tit_banner2 {
    display: block;
    max-height: 64px;
    font-size: 18px;
    line-height: 44px;
    font-family: 'KakaoBigRegular';
    font-weight: bold;
}

.desc_banner {
    display: block;
    line-height: 20px;
    font-size: 13px;
    font-family: 'KakaoBigRegular';
}

.fund_container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding-top: 39px;

}

.tit_banner3 {
    display: block;
    max-height: 20px;
    padding-left: 20px;
    font-size: 18px;
    font-family: 'KakaoBigRegular';
    font-weight: bold;
}

.fund_list {
    display: block;
    padding-left: 0;
    overflow: hidden;
}

.fund_list li {
    float: left;
    position: relative;
    width: 230px;
    margin: 15px 0 0 18px;
}

.find_img {
    display: block;
    position: relative;
    width: 100%;
    height: 134px;
    border-radius: 10px;
    overflow: hidden;
}

.fund_list_text {
    padding-top: 10px;
}

.list_title {
    display: -webkit-box;
    max-height: 50px;
    font-size: 15px;
    line-height: 23px;
    color: black;
    font-family: 'KakaoBigRegular';
}

.list_propo {
    display: block;
    overflow: hidden;
    margin-top: 6px;
    font-size: 13px;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.fund_list_gage {
    float: left;
    position: relative;
    width: 46.612%;
    height: 2px;
    margin-top: 24px;
}

.state_bar {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #ebebeb;
}

.state_gage {
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    border-radius: 1px;
}

.state_ing {
    background-color: #e35396;
}

.price_goal {
    overflow: hidden;
    margin-top: 14px;
    font-size: 14px;
    line-height: 18px;
    display: block;
    color: #444;
    font-family: 'KakaoBigBold';
    text-align: right;
}

.fund_readmore {
    display: block;
    padding: 25px 0;
    text-align: center;
}

.img_banner {
    display: flex;
    position: relative;
    width: 100%;
    height: 280px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 55px 0;
    background: url('../img/12.jpeg');
    background-size: cover;
    background-position: center;
}

.img_container {
    width: 1400px;
    margin: 0 auto;
    padding-left: 220px;
}

.img_left_container {
    flex-shrink: 0;
    width: 450px;
}

.img_banner_tag {
    display: block;
    font-size: 15px;
    font-weight: bold;
}

.img_banner_tit {
    display: block;
    max-height: 64px;
    font-size: 20px;
    line-height: 44px;
    font-family: 'KakaoBigRegular';
    font-weight: bold;
}

.img_banner_dec {
    display: block;
    font-size: 12px;
}

.story_container {
    margin: 50px auto -23px;
}

.story_banner {
    display: block;
    overflow: hidden;
    text-align: center;
}

.story_banner_img {
    display: block;
    max-width: 60%;
    margin: 0 auto;
    border-radius: 20px;
}

.ani_container {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 317px;
    border-bottom: 1px solid #fff;
    background: url(//t1.kakaocdn.net/together_image/common/bg_fund_graph.png) repeat-x 0 0;
    background-size: auto 200px;
}

/* content */


/* footer */
#akFoot {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    padding: 46px 0 88px;
    background-color: #202020;
}

.inner_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 1120px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

.link_home {
    position: absolute;
    left: 0;
    width: 114px;
    height: 18px;
    background: url(//t1.kakaocdn.net/together_image/svg/footer_logo_pc.svg) no-repeat 50%/contain;
}

.info_footer {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.util_foot {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 94px;
    height: 40px;
    border: 1px solid #666;
    border-radius: 20px;
    margin-left: 20px;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -.1px;
    color: #999;
    text-decoration: none;
}

.util_foot_desc {
    font-size: 14px;
    line-height: 1.57;
    color: #999;
    text-align: right;
}

/* footer */

/* footer */

/* login */
#akLogin {
    display: block;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #fff;
}

#login_banner {
    position: relative;
    padding: 3%;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.login_container {
    max-width: 100%;
    min-height: 545px;
    padding: 3%;
}

.loginForm_left {
    display: inline-block;
    position: relative;
    width: 500px;
    margin: 0 8% 0 10%;
    vertical-align: top;
}

.loginForm_right {
    display: inline-block;
    padding: 60px;
    width: 100%;
    max-width: 450px;
    height: 550px;
    box-sizing: border-box;
}

.loginForm_right_tit {
    font-family: 'KakaoBigBold';
    font-size: 30px;
    color: black;
    margin-bottom: 30px;
}

.googlebtn {
    font-family: 'KakaoBigRegular';
}

.search_btn {
    padding: 10px;
    margin-left: 10px;
}

.ico_search {
    display: block;
    text-indent: -9999px;
    width: 20px;
    background: url(//t1.kakaocdn.net/together_image/svg/ico_search.svg) 50%/contain no-repeat;
}

/* mypage */
#mypageContent {
    width: 700px;
    margin: 0 auto;
    padding-bottom: 170px;
}

.inner_block  {
    position: relative;
    min-height: 190px;
    padding-top: 34px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.profile {
    display: inline-block;
    padding-top: 10px;
    max-width: 500px;
}
.pro_tit  {
    font-size: 20px;
    line-height: 44px;
    font-family: 'KakaoBigBold';
    text-decoration: none;
}

.imagefield  {
    position: absolute;
    top: 60px;
    right: 40px;
}

.pro_link {
    display: block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.pro_img {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(215, 215, 215);
}

.pro_setting {
    text-align: right;
    margin-top: 2px;
    margin-right: 18px;
}

.donation  {
    position: relative;
    height: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 20px 40px 0 #00000012;
}

.do_tit {
    padding-top: 31px;
    margin: 10 40px;
    font-size: 28px;
    display: block;
    color: #444;
    font-family: 'KakaoBigBold';
    box-sizing: border-box;
}